---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

type Step = {
  text: string;
};

type Header = {
  title: string;
  image: ImageMetadata;
};

interface Props {
  header: Header;
  steps: Step[];
}

const { header, steps } = Astro.props as Props;
---

<section class="py-20 bg-black font-sans-instrument">
  <div class="xl:container px-6 md:px-[120px] flex flex-col justify-center">
    <div class="pt-5 pb-[60px] text-white text-center">
      <h2 class="text-3xl md:text-5xl font-bold leading-none">
        {header.title}
      </h2>
    </div>
    <div>
      <Image src={header.image} alt="How it works" class="mb-10 w-full" />
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-4 gap-10 md:gap-8 text-white/70 mt-10"
    >
      {
        steps.map((step) => (
          <div class="flex flex-col gap-5 max-w-full md:max-w-[276px] mx-auto md:mx-0 text-center md:text-left">
            <p class="text-base md:text-xl font-semibold leading-relaxed">
              {step.text}
            </p>
            <div class="h-[1px] w-full bg-gray-500 opacity-70" />
          </div>
        ))
      }
    </div>
  </div>
</section>
