---
import Tick from "../../assets/Common/Tick.png";
import StatusCard from "../common/StatusCard.astro";
---
<section class="mt-0 lg:mt-[85px]">
    <StatusCard
      classNames="w-full px-6 py-5"
      img={Tick}
      imgClassNames="min-h-[2.25rem] min-w-[2.25rem]"
    />
  </section>