---
import { Image } from "astro:assets";
import AboutUsHeroBanner from "../../assets/Aboutus/AboutUsHeroBanner.png";
---
<section class="px-6 sm:px-10 lg:px-[80px] py-10 sm:py-[60px] lg:py-[100px] flex flex-col lg:flex-row justify-between items-center gap-10">
  <div class="max-w-full lg:max-w-[643px]">
    <h1 class="text-[32px] sm:text-[36px] lg:text-[40px] leading-[36px] sm:leading-[42px] lg:leading-[48px] pb-6 lg:pb-8 whitespace-pre-line">
      Our Inspiration: A Legacy of Love and Resilience
    </h1>
    <p class="text-[16px] sm:text-[18px] text-[#222222] pb-6 lg:pb-8">
      Savitri Devi Sharma, our beloved Naniji, was a woman of extraordinary strength and resilience. Married at the tender age of 16 in pre-independence India, she faced the unimaginable loss of her husband at just 24, leaving her to raise five children alone.
    </p>
    <p class="text-[16px] sm:text-[18px] text-[#222222] pb-6 lg:pb-8">
      Despite the challenges she faced, Naniji never wavered in her determination to provide for her family. She migrated from a village in Rajasthan to Kolkata, single-handedly raising her three daughters and two sons. Her unwavering spirit and infectious laughter were a constant source of inspiration for us all.
    </p>
    <p class="text-[16px] sm:text-[18px] text-[#222222]">
      Tragically, we lost Naniji to a fall in the bathroom. This heartbreaking event sparked a realization: falls are a significant risk for older adults, and many can be prevented. It is in honor of Naniji's legacy that we founded EyEagle.
    </p>
  </div>
  <div class="h-[300px] sm:h-[450px] lg:h-[670px] w-full lg:w-[557px] rounded-lg">
    <Image src={AboutUsHeroBanner} alt="Naniji" class="w-full h-full object-cover rounded-lg" />
  </div>
</section>
