
<section class="relative h-[900px] px-[80px] py-[100px]">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center">
      <h1 class="text-[52px] max-w-[485px]">
        <span class="text-[#CC0000]">Empowering</span> Seniors to Live Independently
      </h1>
      <p class="text-[18px] max-w-[485px] pt-10">
        We believe that every older adult deserves to feel secure and confident in their own homes.
      </p>
    </div>
    <div class="grid grid-cols-2 gap-x-[500px] place-items-center">
      <img src="../../src/assets/Aboutus/empowering1.png" class="h-[383px] w-[292px] ml-[100px]" />
      <img src="../../src/assets/Aboutus/senior-couple.png" class="w-[428px] h-[285px]" />
      <img src="../../src/assets/Aboutus/empowering2.png" class="w-[428px] h-[285px]" />
      <img src="../../src/assets/Aboutus/empowering1.png" class="h-[383px] w-[292px] ml-[120px]" />
    </div>
  </section>
  