---
import {HeaderData} from "../constants/aboutus";
---

<section class="bg-[#F6F4F2] font-sans-instrument px-6 sm:px-10 lg:px-[80px] py-10 sm:py-[80px] lg:py-[120px] ">
  <div class="xl:container">
    
    <h1 class="text-[32px] sm:text-[40px] lg:text-[52px] leading-[36px] sm:leading-[48px] lg:leading-[62px] max-w-full sm:max-w-[600px] lg:max-w-[693px] " set:html={HeaderData.title}>
     
    </h1>
  </div>
</section>
