
<section class="bg-[#F6F4F2] px-[80px] py-[120px]">
    <h1 class="text-[52px] lg:max-w-[693px]">
      A Legacy of <span class="text-[#CC0000]">Care</span> and <span class="text-[#CC0000]">Innovation</span> Engaging and Intriguing
    </h1>
  </section>
  