@import "tailwindcss";
@import "./fonts.css";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Plus Jakarta Sans Variable", ui-sans-serif, system-ui, sans-serif;
  --font-barlow: "Plus Jakarta Sans Variable", ui-sans-serif, system-ui, sans-serif;
  --font-sans-instrument: "Plus Jakarta Sans Variable", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #cc0000;
  --color-secondary: #222222;
}

@media (min-width: 80rem) {
  .xl\:container {
    margin-inline: auto;
  }
}

@media (min-width: 96rem) {
  .\32xl\:container {
    margin-inline: auto;
  }
}
