@import "tailwindcss";
@import "./fonts.css";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Geist", Arial, sans-serif;
  --font-barlow: "Geist", Arial, sans-serif;
  --font-sans-instrument: "Geist", Arial, sans-serif;
  --color-primary: #cc0000;
  --color-secondary: #222222;
}

@media (min-width: 80rem) {
  .xl\:container {
    margin-inline: auto;
  }
}

@media (min-width: 96rem) {
  .\32xl\:container {
    margin-inline: auto;
  }
}
