---
import MainLayout from "../../layouts/MainLayout.astro";
import Faqs from "../../components/Home/Faqs.astro";
import BathroomSection from "../../components/Home/BathroomSection.astro";
import { bathroomData } from "../../components/constants/home";
import { Image } from "astro:assets";
import img from "../../assets/Home/Hero_17.png";
import Frame from "../../assets/Home/FathersdayImage.png";
---

<MainLayout>
  <section class="max-lg:container">
    <div class="relative flex place-content-center text-center">
      <Image src={img} alt="hero image"/>
      <div class="absolute top-40 font-sans-instrument">
        <p class="text-[#CC0000] text-6xl font-semibold leading-tight">
          This Father’s Day, don’t just thank him.<br> Protect him</br>
        </p>
        <p class="text-3xl font-medium my-[18px]">15% OFF EyEagle Safety Kit + Free Safety Audit</p>
        <p class="text-2xl font-medium my-[18px]">Valid between June 14–16 only</p>
        <div class="bg-[#CC0000] py-3 px-5 inline-block rounded-xl my-14">
            <a href="/join">
              <button class="text-2xl font-semibold text-white">
                Schedule Now
              </button>
            </a>
          </div>
        <Image src={Frame} alt="FathersdayImage" class="absolute"/>
      </div>
    </div>
  </section>

  <section class="container py-24 my-[200px]">
    <div class="font-barlow text-center px-14">
        
      <p class="font-medium text-[52px] text-[#000000] opacity-60 mx-14">
        Every year, thousands of elderly parents suffer bathroom falls that
        could have been prevented.
        </p>
        <p class=" font-medium text-[52px] text-[#000000] opacity-60 mx-14">This Father’s Day, protect the one who
        protected you all your life.
      </p>
      <p class="text-[40px] font-semibold mt-10"><span class="text-[#CC0000]">EyEagle</span> is built to keep your loved ones safe, around the clock.</p>
    </div>
    <div class="py-[200px] grid lg:grid-cols-4 gap-12 px-20 ">
      {
        bathroomData?.map((item) => (
          <BathroomSection item={item} mobile={false} />
        ))
      }
    </div>
    <div class="text-[#CC0000] text-center font-sans-instrument">
   <p class="text-6xl font-medium">Book Your Free Audit + Get 15% OFF</p>
   <p class="text-2xl font-medium mt-4">Offer valid June 14–16. Limited slots available.</p>
     <div class="bg-[#CC0000] py-3 px-5 rounded-full mt-5 inline-block">
            <a href="/join">
              <button class="text-lg font-normal text-white">
                Schedule Now
              </button>
              <span class="material-symbols-outlined text-white text-lg ml-4">arrow_forward</span>
            </a>
          </div>
          </div>
  </section>

  <section class="bg-secondary">
    <Faqs />
  </section>
</MainLayout>
