---
import { options, safetyOptionsTop,safetyOptionsBottom } from "../components/constants/plans";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css"
---

<MainLayout footerClass="hidden">
    <div class="relative">
    <section>
        <h1 class="text-[64px] font-instrument pt-32 text-center pb-20">The best plan for you is</h1>
    </section>
    <section class="bg-[#F6F4F2] flex px-[80px] justify-between h-[1300px]">
       <div class="pt-52 flex flex-col gap-3">
        {options.map((option)=>(
            <div class="flex gap-2 items-center">
                 <span class="material-symbols-outlined">
            check_circle
            </span>
            <p class="font-bold text-[22px]">{option.title}</p>
            </div>
        ))}
       </div>
       <div class="bg-[#00506A] p-6 flex flex-col gap-5 rounded-lg absolute top-60 right-20">
<h1 class="italic text-[40px] text-white">Ultimate Safety</h1>
<h3 class="font-bold text-[32px] text-white">₹69,999</h3>
<p class="text-[18px] text-white">Best in class complete solution</p>
<button class="bg-[#CC0000] text-white px-5 py-3 rounded-lg">Select Package</button>
<div class="flex flex-col gap-3">
    {safetyOptionsTop.map((option)=>(
        <div class="flex gap-3 items-center max-w-[459px]">
             <span class="material-symbols-outlined text-white text-xl mt-1">
        check_circle
        </span>
        <p class="font-bold text-[22px] text-[18px] text-white font-semibold ">{option.title}</p>
        </div>
    ))}
</div>
<div class="border w-full border-[#337388] "></div>
<div class="flex flex-col gap-3">
    {safetyOptionsBottom.map((option)=>(
        <div class="flex gap-3 items-center max-w-[459px]">
             <span class="material-symbols-outlined text-white text-xl mt-1">
        check_circle
        </span>
        <p class="font-bold text-[22px] text-[18px] text-white font-semibold ">{option.title}</p>
        </div>
    ))}
</div>
<button class="bg-[#FEDBDC] border-2 border-[#FB4C51] rounded-md flex gap-3 items-center justify-center py-2 px-5">
    <span class="material-symbols-outlined text-[#FB4C51] text-xl mt-1">
        check_circle
        </span>
        <p class="font-bold text-[22px] text-[18px] text-[#FB4C51] font-semibold ">Free kit update for the next upgraded version</p>
</button>
       </div>
    </section>
</div>
</MainLayout>