---
import { options, safetyOptionsTop,safetyOptionsBottom } from "../components/constants/plans";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout footerClass="hidden">
    <div class="relative">
        <section>
          <h1 class="text-[32px] md:text-[48px] lg:text-[64px] pt-10 md:pt-16 lg:pt-32 text-center pb-10 md:pb-16 lg:pb-20">
            The best plan for you is
          </h1>
        </section>
        <section class="bg-[#F6F4F2] flex flex-col lg:flex-row px-5 md:px-10 lg:px-[80px] justify-between lg:h-[1300px] pb-20 lg:pb-0">
          <div class="pt-10 md:pt-20 lg:pt-52 flex flex-col gap-3">
            {options.map((option) => (
              <div class="flex gap-2 items-center">
                <span class="material-symbols-outlined text-[24px] lg:text-[32px]">
                  check_circle
                </span>
                <p class="text-[18px] md:text-[20px] lg:text-[22px] font-bold">{option.title}</p>
              </div>
            ))}
          </div>
      
          <div class="bg-[#00506A] p-5 md:p-8 lg:p-10 flex flex-col gap-5 rounded-lg mt-10 lg:mt-0 lg:absolute lg:top-60 lg:right-20 w-full lg:w-auto lg:max-w-[600px]">
            <h1 class="italic text-[28px] md:text-[36px] lg:text-[40px] text-white">
              Ultimate Safety
            </h1>
            <h3 class="text-[24px] md:text-[28px] lg:text-[32px] text-white font-bold">
              ₹69,999
            </h3>
            <p class="text-[16px] md:text-[18px] text-white">
              Best in class complete solution
            </p>
            <button class="bg-[#CC0000] text-white px-5 py-3 rounded-lg text-[16px] md:text-[18px]">
              Select Package
            </button>
      
            <div class="flex flex-col gap-3">
              {safetyOptionsTop.map((option) => (
                <div class="flex gap-3 items-center">
                  <span class="material-symbols-outlined text-white text-[20px] md:text-[24px]">
                    check_circle
                  </span>
                  <p class="text-[16px] md:text-[18px] lg:text-[20px] text-white font-semibold">
                    {option.title}
                  </p>
                </div>
              ))}
            </div>
      
            <div class="border border-[#337388] w-full"></div>
      
            <div class="flex flex-col gap-3">
              {safetyOptionsBottom.map((option) => (
                <div class="flex gap-3 items-center">
                  <span class="material-symbols-outlined text-white text-[20px] md:text-[24px]">
                    check_circle
                  </span>
                  <p class="text-[16px] md:text-[18px] lg:text-[20px] text-white font-semibold">
                    {option.title}
                  </p>
                </div>
              ))}
            </div>
      
            <button class="bg-[#FEDBDC] border-2 border-[#FB4C51] rounded-md flex gap-3 items-center justify-center py-2 px-5">
              <span class="material-symbols-outlined text-[#FB4C51] text-[20px] md:text-[24px]">
                check_circle
              </span>
              <p class="text-[14px] md:text-[16px] lg:text-[18px] text-[#FB4C51] font-semibold">
                Free kit update for the next upgraded version
              </p>
            </button>
          </div>
        </section>
      </div>
      
</MainLayout>