---
import MainLayout from "../layouts/MainLayout.astro";
import Blogs from "../components/Home/Blogs.astro";
const metaTitle = "Blog | EyEagle";
const metaDesc = "Read the latest article on EyEagle's blog.";
---

<MainLayout title="blogs" title={metaTitle} desc={metaDesc}>
  <section class="xl:container lg:mt-8 lg:px-20 font-sans-instrument">
  <Blogs />
  </section>
</MainLayout>