---
import MainLayout from "../layouts/MainLayout.astro";
import Blogs from "../components/Home/Blogs.astro";
const metaTitle = "Falls Kill More Seniors Than You Think | EyEagle";
const metaDesc = "Discover how EyEagle - an emergency alert device for the elderly can protect your loved ones with quiet, reliable care.";
---

<MainLayout title="blogs" title={metaTitle} desc={metaDesc}>
  <section class="max-xl:container lg:mt-24 lg:mb-[7.5rem] lg:px-20 font-sans-instrument">
  <Blogs />
  </section>
</MainLayout>