---
import MainLayout from "../layouts/MainLayout.astro";
import Blogs from "../components/Home/Blogs.astro";
const metaTitle="Advanced Elderly Fall Alert Devices - EyEagle Solutions";
const metaDesc="Explore EyEagle’s innovative solutions for elderly safety. From fall alert devices to emergency alarm systems, protect your loved ones today.";
---

<MainLayout title={metaTitle} desc={metaDesc}>
  <section class="max-xl:container lg:mt-24 lg:mb-[7.5rem] lg:px-20 px-4 font-sans-instrument">
  <Blogs />
  </section>
</MainLayout>