---
import MainLayout from "../layouts/MainLayout.astro";
import BillingDetail from "../components/Cart/BillingDetail.astro";
import ItemDetail from "../components/Cart/ItemDetail.astro";
import {productData} from "../components/constants/cart.ts";
---

<MainLayout>
    <section class="justify-evenly bg-[#F6F4F2] font-sans-instrument px-4 gap-20 lg:py-[120px] flex max-lg:flex-col-reverse max-lg:gap-10 py-10 lg:justify-around max-lg:items-center lg:pt-36">
        <div class="">
            <BillingDetail/>
        </div>
        <div class="max-lg:w-full lg:pt-10 xl:container">
            <ItemDetail productData={productData}/>
        </div>
    </section>
</MainLayout>
