---
import { options, safetyOptionsTop,safetyOptionsBottom } from "../components/constants/plans";
import MainLayout from "../layouts/MainLayout.astro";
import Icon from "../components/common/Icon.astro";
---

<MainLayout title="Plans">
    <div class="relative font-sans-instrument">
        <section class=" lg:pt-10 md:pt-16 lg:pt-32 text-center pb-0 md:pb-16 lg:pb-44">
      
        </section>
        <section class="bg-[#F6F4F2] flex flex-col lg:flex-row px-5 md:px-10 lg:px-[80px] justify-center lg:h-[900px] pb-20 lg:pb-0 lg:gap-[60px]">
          <div class="xl:container">
          <div class="pt-10 md:pt-20 lg:pt-52 flex flex-col gap-3">
            {options.map((option) => (
              <div class="flex gap-2 items-center">
                <span class="material-symbols-outlined text-[24px] lg:text-[32px]">
                  check_circle
                </span>
                <p class="text-[18px] md:text-[20px] lg:text-[22px] font-bold">{option.title}</p>
              </div>
            ))}
          </div>
      
          <div class="bg-[#00506A] p-5 md:p-8 lg:p-[24px]  rounded-lg mt-10 lg:mt-0 lg:absolute lg:top-40 lg:right-20 w-full lg:w-auto lg:max-w-[600px]">
            <div class="flex flex-col gap-[12px]">

              <h1 class="italic font-sans-instrument text-[28px] md:text-[36px] lg:text-[40px] text-white">
                Ultimate Safety
            </h1>
            <h3 class="text-[21px] md:text-[24px] lg:text-[28px] text-white font-bold">
Special Launch Offer
            </h3>
            <h3 class="text-[24px] md:text-[28px] lg:text-[32px] text-white font-bold mt-[-10px]">
              ₹49,999  <span class="line-through ml-2">₹89,999</span> 
            </h3>
            <p class=" text-white font-normal text-[18px] mt-[-10px]">including GST</p>
            <p class="text-[16px] md:text-[18px] text-white">
              Best in class complete solution
            </p>
          </div>
          <a href="https://payments.cashfree.com/forms/eyeagle-ultimate" target="_blank">
            <button class="bg-[#CC0000] text-white px-5 py-3 my-[28px] rounded-lg text-[16px] md:text-[18px] font-semibold w-full">
                Get it now
              </button>
            </a>
            
            <div class="flex flex-col gap-[19px]">
              {safetyOptionsTop.map((option) => (
                <div class="flex gap-3 items-center">
                  <span class="material-symbols-outlined text-white text-[20px] md:text-[24px]">
                    check_circle
                  </span>
                  <p class="text-[16px] md:text-[18px] lg:text-[18px] text-white font-medium">
                    {option.title}
                  </p>
                </div>
              ))}
            </div>
      
            <div class="border border-[#337388] w-full my-3"></div>
      
            <div class="flex flex-col gap-[19px]">
              {safetyOptionsBottom.map((option) => (
                <div class="flex gap-3 items-center">
<Icon iconName="check_circle" classNames="text-white"/>
                  <p class="text-[16px] md:text-[18px] lg:text-[20px] text-white font-semibold">
                    {option.title}
                  </p>
                </div>
              ))}
            </div>
      
            <button class="bg-[#FEDBDC] border-2 border-[#FB4C51] rounded-md flex gap-3 items-center justify-center py-2 px-5 mt-[19px] w-full">
              <span class="material-symbols-outlined text-[#FB4C51] text-[20px] md:text-[24px]">
                check_circle
              </span>
              <p class="text-[14px] md:text-[16px] lg:text-[18px] text-[#FB4C51] font-semibold">
                Free kit update for the next upgraded version
              </p>
            </button>
          </div>
        </div>
        </section>
      </div>
      
</MainLayout>