---
import MainLayout from "../layouts/MainLayout.astro";
import ProfileContent from "../components/Profile/Profile.astro";
---

<MainLayout>
    <section class="lg:px-5 px-3 bg-[#F6F4F2] font-sans-instrument py-8 lg:py-[120px] grid justify-center items-center">
        <ProfileContent/>
    </section>
</MainLayout>