---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <section class="bg-[#F6F4F2] lg:px-[80px] lg:py-[120px] px-4 lg:h-[500px] grid lg:gap-0 gap-11 py-10 ">
        <h1 class="lg:text-[52px] font-sans-instrument text-3xl lg:max-w-[693px] text-center m-auto xl:container">
            Shipping Policy
        </h1>
      </section>
      <section class="lg:px-20 lg:py-[120px] px-4 py-16 font-sans-instrument xl:container">
        <h2 class="font-bold text-lg">Last updated on 09-01-2025</h2>
        <h3 class="mt-20 font-semibold text-2xl">At PIDANA TECHNOLOGIES PRIVATE LIMITED, we strive to provide efficient and reliable shipping services. The following terms apply to the shipping of our products:</h3>
        <h3 class="mt-20 font-semibold text-2xl">1. Shipping Times:</h3>
        <p>Orders are processed and shipped within 2-5 business days unless otherwise stated. Delivery times may vary based on the shipping destination and method selected.</p>
        <h3 class="mt-10 font-semibold text-2xl">2. Shipping Charges:</h3>
        <p>Shipping charges are calculated at checkout based on the weight, dimensions, and destination of the order. Any applicable taxes or duties are the responsibility of the customer.</p>
        <h3 class="mt-10 font-semibold text-2xl">3. Order Tracking:</h3>    
        <p>Once your order is shipped, you will receive a tracking number via email to monitor the delivery status.</p>
        <h3 class="mt-10 font-semibold text-2xl">4. Damaged or Lost Shipments:</h3>
        <p>If your order is damaged or lost during transit, please contact our Customer Service team within 7 days of the expected delivery date for assistance.</p>
        <h3 class="mt-10 font-semibold text-2xl">5. International Shipping:</h3>
        <p>For international orders, delivery times and costs may vary. Customers are responsible for any customs duties or import taxes imposed by their country.</p>
    </section>
    <style>
        li {
            display: list-item;
            list-style-type: disc;
        }
        ul {
            padding-left: 2rem;
        }
    </style>
</MainLayout>