---
import HeroSection from "../components/Manifesto/HeroSection.astro";
import BannerSection1 from "../components/Manifesto/BannerSection1.astro";
import ContextSection from "../components/Manifesto/ContextSection.astro";
import BannerSection2 from "../components/Manifesto/BannerSection2.astro";
import BottomContextsSection from "../components/Manifesto/BottomSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
import DesireSection from "../components/Home/DesireSection.astro";
import desireImage from "../assets/Navbar/desireImage.png";
import {descriptionButton,desireSection1} from "../components/constants/home";
---

<MainLayout title="How it works">
  <HeroSection />
  <BannerSection1 />
  <!-- <ContextSection /> -->
  <BottomContextsSection />
  <BannerSection2 />
  <section class="w-full">
    <DesireSection item={desireImage} desireSection1={desireSection1} descriptionButton={descriptionButton} className="mt-0"/>
  </section>
</MainLayout>