---
import MainLayout from "../layouts/MainLayout.astro";
import India from "../assets/Common/India.png";
import Inter from "../assets/Common/International.png";
import { Image } from "astro:assets";
---

<MainLayout title="Store">
  <section class="xl:container lg:pt-36 py-10 lg:pb-32 lg:px-20 px-4 font-sans-instrument bg-[#F6F4F2]">
    <div class="md:text-start text-center place-items-center">
      <!-- Heading -->
      <div class="lg:px-10 py-12">
        <h1 class="text-3xl md:text-5xl tracking-tight font-semibold md:leading-[60px]">
          <span> Hello! </span>
          <br /> Where are you shopping from?
        </h1>
      </div>
      <!-- Options -->
      <div class="flex flex-col md:flex-row justify-center items-center text-center gap-20 mt-16">
        <!-- India -->
        <a href="https://shop.eyeagle.ai/" class="flex flex-col items-center">
          <Image
            src={India}
            alt="India"
            width={220}
            height={150}
            class="object-contain"
            quality="max"
            loading="eager"
            fetchpriority="high"
          />
          <h2 class="font-bold text-xl md:text-2xl mt-4">India</h2>
          <p class="text-sm md:text-base">For customers in India</p>
        </a>
        <!-- International -->
        <a class="flex flex-col items-center">
          <Image
            src={Inter}
            alt="International"
            width={220}
            height={150}
            class="object-contain"
            quality="max"
            loading="eager"
            fetchpriority="high"
          />
          <h2 class="font-bold text-xl md:text-2xl mt-4">International</h2>
          <p class="text-sm md:text-base">For customers outside of India</p>
        </a>
      </div>
      <p class="font-barlow text-base md:text-lg font-medium py-16 text-center md:text-left">
        Currently installations are available in India only.
      </p>
    </div>
  </section>
</MainLayout>
