---
import VideoSection from "../components/Home/VideoSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <div>
        <VideoSection className={'lg:pt-[15rem] lg:pb-[12.5rem] pt-[7rem] pb-[5rem]'}/>
    </div>
</MainLayout>