---
import { Image } from "astro:assets";
import { scrollDataSection } from "../constants/home";

const item = Astro.props.item;
const mobile = Astro.props.mobile;
const { pathname } = Astro.url;
---

<div
  class="relative bg-[#D9D9D9] rounded-[20px] flex flex-col cursor-pointer group lg:max-w-[296px] lg:max-h-[400px] h-auto max-w-[240px]"
  id={`card-${item.id}`}
>
  <h2
    class="text-[19.2px] lg:text-[32px] leading-6 font-sans-instrument font-medium lg:leading-[40px] px-5 py-[14.4px] lg:py-6 lg:px-10 text-[#212121]"
  >
    {item.heading.split(" ")[0]}<br />
    {item.heading.split(" ").slice(1).join(" ")}
  </h2>
  <Image
    src={item.image ?? ""}
    alt={item.heading}
    class="w-full h-full object-cover rounded-[20px] rounded-t-none"
    quality="max"
  />

  <!-- Optional: Keep the icon for visual cue -->
  <div
    class="absolute lg:bottom-[13.5px] lg:right-[16.5px] bottom-[8.5px] right-[10px] z-30 bg-white lg:size-10 size-7 rounded-full grid place-items-center pointer-events-none"
  >
    <svg
      class="w-[9px] h-[9px] lg:w-4 lg:h-4"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M0.804688 8.8994H11.7775L6.74081 13.9361L7.99999 15.1953L15.1953 7.99999L7.99999 0.804688L6.74081 2.06386L11.7775 7.10058H0.804688L0.804688 8.8994Z"
        fill="#CC0000"></path>
    </svg>
  </div>
</div>

<script is:inline define:vars={{ item, scrollDataSection, pathname }}>
  const card = document.getElementById(`card-${item.id}`);

  function scrollFunction() {
    const targetId = scrollDataSection[item.id];
    const element = document.getElementById(targetId);
    if (element) {
      element.scrollIntoView({ behavior: "smooth" });
    }
  }

  if (card) {
    if (pathname === "/join") {
      card.addEventListener("click", (e) => {
        e.preventDefault(); // stop any default navigation
        const targetId = scrollDataSection[item.id];
        window.open(`/#${targetId}`, "_blank"); // open in new tab only
      });
    } else {
      card.addEventListener("click", (e) => {
        e.preventDefault(); // optional if wrapped in <a>
        scrollFunction();
      });
    }
  }
</script>

