---
const desireImage = Astro.props.item;
const className = Astro.props.className ?? '';
---

<section>
    <div class="container mx-auto ">
      <div class={`relative h-[900px] mb-8 mt-20  ${className}`}>
        <img
          src={desireImage.src}
          alt="Our healthcare team"
          class="w-full h-full object-cover brightness-95 rounded-sm"
        />
        <div class="w-full">
          <p class="absolute top-20 left-20 text-[52px] font-semibold leading-[62px] max-w-2xl mx-auto  text-white">
            Your Loved Ones Deserve the Best.
          </p>
          <p class="absolute top-60 max-w-2xl  text-white left-20">
            Don’t wait for the worst to happen—be proactive and protect your loved ones with EyEagle’s complete safety kit.
          </p>
          <button class="py-4 flex justify-between items-center w-48 text-white absolute top-[350px] left-20 px-8 rounded-3xl bg-red-600">
            <span>
              Get Started
            </span>
            <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.609375 8.76805H11.5822L6.5455 13.8048L7.80467 15.0639L15 7.86864L7.80467 0.67334L6.5455 1.93252L11.5822 6.96923H0.609375L0.609375 8.76805Z" fill="white"/>
              </svg>
          </button>
        </div>
      </div>
    </div>
  </section>