---
const healthOrganization1 = Astro.props.healthOrganization1;
const healthOrganization2 = Astro.props.healthOrganization2;
---

<section class="xl:container grid lg:grid-cols-2 lg:gap-20 gap-10 lg:my-[200px] max-lg:pt-20 lg:px-10 px-4 bg-white font-sans-instrument">
    <p set:html={healthOrganization1} class="max-lg:font-semibold text-2xl font-sans-instrument lg:text-[3.2rem] lg:mb-8 lg:leading-[76.8px] font-medium">
    </p>
    <div>
      <p class="lg:leading-9 mb-10 lg:text-[22px] text-base leading-6">Nearly 2 million seniors suffer falls each year in India alone, most leading to severe injuries and even death.</p>
      <p set:html={healthOrganization2} class="font-normal font-sans-instrument leading-10 text-2xl max-lg:pt-4 max-lg:font-semibold lg:text-[32px] lg:font-normal">
      </p>
    </div>
</section>