---
interface Props {
  healthOrganization1:string,
  healthOrganization2:string
}
const healthOrganization1 = Astro.props.healthOrganization1;
const healthOrganization2 = Astro.props.healthOrganization2;
---

<section class="xl:container lg:pt-40 max-lg:pt-20 px-4 bg-white">
    <p class="text-center max-lg:font-semibold text-2xl font-sans-instrument lg:text-[3.2rem] mb-8 lg:mx-32 lg:leading-[62px] font-normal">
      {healthOrganization1}
    </p>
    <p class="text-center font-semibold font-sans-instrument text-2xl max-lg:pt-4 max-lg:font-semibold text-red-600 lg:text-[52px] lg:font-normal">
      {healthOrganization2}
    </p>
</section>
