<section class="lg:pt-40 max-lg:pt-20 px-4 bg-white">
    <p class="text-center max-lg:font-semibold text-2xl font-sans-instrument lg:text-[3.2rem] mb-8 lg:mx-32 lg:leading-[62px] font-normal">
      According to the World Health Organization, millions of elderly
      individuals, including our parents, experience falls each year, many
      leading to serious injury or hospitalization.
    </p>
    <p class="text-center font-semibold font-sans-instrument text-2xl max-lg:pt-4 max-lg:font-semibold text-red-600 lg:text-[52px] lg:font-normal">
      But it doesn't have to be this way.
    </p>
</section>