---
const healthOrganization1 = Astro.props.healthOrganization1;
const healthOrganization2 = Astro.props.healthOrganization2;
---

<section class="xl:container grid lg:grid-cols-2 justify-center items-center lg:gap-20 gap-10 lg:my-[12.5rem] max-lg:pt-20 lg:px-10 px-4 bg-white font-sans-instrument">
    <p set:html={healthOrganization1} class="max-lg:font-semibold text-[2rem] lg:text-2xl font-sans-instrument lg:text-[4rem] leading-[2.375rem] lg:leading-[4.8rem] font-medium">
    </p>
    <div>
      <p class="lg:leading-9 mb-10 lg:text-[1.375rem] text-lg leading-[1.875rem] font-medium">Each year, nearly 2 million seniors in India suffer falls, often leading to severe injuries or even death.</p>
      <p set:html={healthOrganization2} class="font-medium font-sans-instrument leading-10 text-2xl max-lg:pt-4 max-lg:font-semibold lg:text-[2rem] lg:font-normal">
      </p>
    </div>
</section>