---
const healthOrganization1 = Astro.props.healthOrganization1;
const healthOrganization2 = Astro.props.healthOrganization2;
---

<section class="max-xl:container flex flex-col justify-between gap-4 lg:mt-[7.5rem] max-lg:pt-20 lg:px-20 px-4 bg-white font-sans-instrument">
    <p set:html={healthOrganization1} class="max-lg:font-medium text-3xl lg:text-[64px] font-sans-instrument leading-[2.5rem] lg:leading-[88px] font-medium w-full">
    </p>
      <p set:html={healthOrganization2} class="lg:my-[60px] font-normal font-barlow leading-2 text-[20px] leading-7 max-lg:pt-4 max-lg:font-normal lg:text-4xl lg:leading-10 lg:font-normal">
      </p>
</section>