---
const healthOrganization1 = Astro.props.healthOrganization1;
const healthOrganization2 = Astro.props.healthOrganization2;
---

<section class="xl:container grid lg:grid-cols-2 justify-between lg:gap-20 gap-10 lg:mt-[7.5rem] max-lg:pt-20 lg:px-20 px-4 bg-white font-sans-instrument">
    <p set:html={healthOrganization1} class="max-lg:font-semibold text-2xl lg:text-4xl font-sans-instrument leading-[2.375rem] lg:leading-[2.75rem] font-medium w-full">
    </p>
    <div>
      <p class="mb-10 lg:text-xl text-lg leading-[1.875rem] font-normal">Each year, nearly 2 million seniors in India suffer falls, often leading to severe injuries or even death.</p>
      <p set:html={healthOrganization2} class="font-medium font-sans-instrument leading-10 text-2xl lg:leading-[1.875rem] max-lg:pt-4 max-lg:font-semibold lg:text-xl lg:font-medium">
      </p>
    </div>
</section>