---
import { Image } from "astro:assets";
const heroImage = Astro.props.heroImage;
const heroDescription = Astro.props.heroDescription;
---
<section class="lg:h-auto lg:mt-[88px] bg-black">
  <h1 set:html={heroDescription} class="xl:container py-10 px-4 lg:py-20 text-[#B9B5B5] lg:px-10 font-bold text-[32px] w-full font-sans-instrument lg:text-[88px] lg:leading-[92px]">
    </h1>
    <Image
      src={heroImage}
      alt="Emergency prevention"
      class="w-full h-full object-cover"
    /> 
  </section>