---
import { Image } from "astro:assets";
const heroImage = Astro.props.heroImage;
---
<section class="relative lg:h-[856px]">
    <Image
      src={heroImage}
      alt="Emergency prevention"
      class="w-full h-full object-cover"
    /> 
    <h1 class="absolute bottom-44 lg:px-32 font-medium text-[32px] w-full max-lg:translate-y-36 font-sans-instrument lg:text-[88px] lg:leading-[92px] text-white text-center">Prevent, Don’t Regret
      A single fall can change it all</h1>
  </section>