---
import { Image } from "astro:assets";
const heroImage = Astro.props.heroImage;
const HeroImageMob = Astro.props.heroImageMob;
const HeroImageTitle = Astro.props.HeroImageTitle;
const heroDescription = Astro.props.heroDescription;
const heroDescription2 = Astro.props.heroDescription2;
---

<section class="font-sans-instrument lg:h-auto bg-[#EDE5D2]">
  <div class="xl:container max-lg:flex-col flex items-end">
    <div class="font-sans-instrument text-black h-full md:my-[142px] mb-8 mt-8 max-lg:px-4 lg:pl-20">
      <h1 class="font-medium md:text-[68px] text-[32px] md:leading-[80px] leading-10 mb-8 md:mb-16">        
        <span class="text-primary block lg:whitespace-nowrap lg:text-[60px] xl:text-[64px]">
          Promise of protection
        </span>
        <span class="block lg:whitespace-nowrap lg:text-[60px] xl:text-[64px]">
          for those who care for you
        </span>
      </h1>
      <p class="font-medium font-barlow md:text-[32px] text-base leading-6 md:leading-[48px] mb-8 md:mb-16">
        Advanced monitoring, real-time alerts and professional intervention to
        protect your loved ones from falls around the clock.
      </p>
      <a href="/join">  
        <button class="bg-primary font-bold text-lg leading-7 text-nowrap text-white px-4 py-3 rounded-[99px]"
        >Get Started Now</button
        >
      </a>
    </div>
    <div class="lg:max-w-[640px] w-full h-full lg:flex lg:justify-end">
      <Image
        src={heroImage}
        alt="Emergency prevention"
        class="lg:max-w-[640px] w-full h-full"
        quality={"max"}
      />
    </div>
  </div>
</section>
