---
import { Image } from "astro:assets";
interface Props {
  heroImage:ImageMetadata,
  heroDescription:string
}
const heroImage = Astro.props.heroImage;
const heroDescription = Astro.props.heroDescription;
---
<section class="relative lg:h-[856px]">
    <Image
      src={heroImage}
      alt="Emergency prevention"
      class="w-full h-full object-cover"
    /> 
    <h1 class="xl:container right-0 left-0 absolute bottom-44 lg:px-32 font-medium text-[32px] w-full max-lg:translate-y-36 font-sans-instrument lg:text-[88px] lg:leading-[92px] text-white text-center">
      {heroDescription}</h1>
  </section>