---
import { Image } from "astro:assets";
const heroImage = Astro.props.heroImage;
const HeroImageMob = Astro.props.heroImageMob;
const HeroImageTitle = Astro.props.HeroImageTitle;
const heroDescription = Astro.props.heroDescription;
const heroDescription2 = Astro.props.heroDescription2;
---

<section class="xl:container lg:h-auto lg:mt-[8.1rem] bg-[#EDE5D2]">
  <div class="max-md:grid flex justify-center items-end">
    <div class="font-sans-instrument text-black h-full md:my-[142px] mb-8 mt-20 max-md:px-4 md:pl-20">
      <h1 class="font-medium md:text-7xl text-[32px] md:leading-[80px] leading-10 mb-8 md:mb-14">
        <span class="text-primary">Promise of protection </span> for those who care for you
      </h1>
      <p class="font-medium md:text-[32px] text-base leading-6 md:leading-[48px] mb-8 md:mb-14">
        Advanced monitoring, real-time alerts and professional intervention to
        protect your loved ones around the clock.
      </p>
      <button class="bg-primary font-bold text-lg leading-7 text-nowrap text-white px-4 py-3 rounded-[99px]"
        >Get Started Now</button
      >
    </div>
    <div class="w-full h-full">
      <Image
        src={heroImage}
        alt="Emergency prevention"
        class="w-full h-full"
        quality={"max"}
      />
    </div>
  </div>
</section>
