---
import { Image } from "astro:assets";
const heroImage = Astro.props.heroImage;
const HeroImageMob = Astro.props.heroImageMob;
const HeroImageTitle=Astro.props.HeroImageTitle;
const heroDescription = Astro.props.heroDescription;
const heroDescription2 = Astro.props.heroDescription2;
---
<section class="lg:h-auto lg:mt-[5.25rem] bg-black relative">
  <Image
    src={heroImage}
    alt="Emergency prevention"
    class="w-full h-full object-cover hidden md:block pt-[2.5rem]"
    quality={'max'}
  />
  <Image
    src={HeroImageMob}
    alt="Emergency prevention"
    class="w-full h-full object-cover block md:hidden pt-[2.5rem]"
    quality={'max'}
  />
  <h2 class="absolute top-0 lg:top-12 left-1/2 -translate-x-1/2 text-base md:text-[2rem] lg:text-[4.5rem] leading-[5.438rem] text-center font-medium text-white  w-full drop-shadow-xl hidden md:block" style={{textShadow:"3px 3px 6px rgba(0, 0, 0, 1)"}}>
    {HeroImageTitle.title1}
  </h2>

  <h2 class="absolute bottom-0 lg:bottom-5 left-1/2 -translate-x-1/2 text-[16px] md:text-[2rem] lg:text-[4.5rem] leading-[5.438rem] text-center font-medium text-white  w-full hidden md:block" style={{textShadow:"3px 3px 6px rgba(0, 0, 0, 1)"}}>
    {HeroImageTitle.title2}
  </h2>
</section>
