---
import { Image } from "astro:assets";
const heroImage = Astro.props.heroImage;
const HeroImageMob = Astro.props.heroImageMob;
const HeroImageTitle=Astro.props.HeroImageTitle;
const heroDescription = Astro.props.heroDescription;
const heroDescription2 = Astro.props.heroDescription2;
---
<section class="lg:h-auto lg:mt-[88px] bg-black relative">
  <Image
    src={heroImage}
    alt="Emergency prevention"
    class="w-full h-full object-cover hidden md:block"
    quality={'max'}
  />
  <Image
    src={HeroImageMob}
    alt="Emergency prevention"
    class="w-full h-full object-cover block md:hidden"
    quality={'max'}
  />
  <h1 class="absolute top-0 lg:top-5 left-1/2 -translate-x-1/2 text-[16px] md:text-[32px] lg:text-[72px] leading-[87px] text-center font-medium text-white  w-full drop-shadow-xl hidden md:block" style={{textShadow:"3px 3px 6px rgba(0, 0, 0, 1)"}}>
    {HeroImageTitle.title1}
  </h1>

  <h1 class="absolute bottom-0 lg:bottom-5 left-1/2 -translate-x-1/2 text-[16px] md:text-[32px] lg:text-[72px] leading-[87px] text-center font-medium text-white  w-full hidden md:block" style={{textShadow:"3px 3px 6px rgba(0, 0, 0, 1)"}}>
    {HeroImageTitle.title2}
  </h1>
</section>
