---
import { Image } from "astro:assets";
const heroImage = Astro.props.heroImage;
const heroDescription = Astro.props.heroDescription;
const heroDescription2 = Astro.props.heroDescription2;
---
<section class="lg:h-auto lg:mt-[88px] bg-black">
  <!-- <h1 set:html={heroDescription} class="xl:container pt-10 px-4 lg:pt-20 text-[#B9B5B5] lg:px-10 font-bold text-[32px] w-full font-sans-instrument lg:text-[88px] lg:leading-[92px]">
    </h1>
    <h2 set:html={heroDescription2} class="xl:container pb-10 px-4 lg:pb-20 text-[#B9B5B5] lg:px-10 font-bold text-[32px] w-full font-sans-instrument lg:text-[88px] lg:leading-[92px]"></h2> -->
    <Image
      src={heroImage}
      alt="Emergency prevention"
      class="w-full h-full object-cover"
    /> 
  </section>