---
const ourTeam = Astro.props.item;
---
<section>
    <div class="container mx-auto">
      <div class="flex justify-center">
        <h2 class="text-[52px] font-normal leading-[62px] mb-12 text-center max-w-3xl">
          Our complete bathroom safety kit addresses every risk, giving you and your family the peace of mind that they’re safe
        </h2>
      </div>
      <div class="relative h-[900px] mb-8 mt-20">
        <img
          src={ourTeam.src}
          alt="Our healthcare team"
          class="w-full h-full object-cover brightness-95"
        />
        <div class="w-full">
          <p class="absolute bottom-10 left-20 text-[52px] font-normal max-w-2xl mx-auto  text-white">
            Our trained professionals are available 24/7 to ensure the safety of
            your loved ones.
          </p>
          <button class="py-4 flex justify-between items-center w-48 text-white absolute bottom-20 right-20 px-8 rounded-3xl bg-red-600">
            <span>
              See our plans
            </span>
            <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.609375 8.76805H11.5822L6.5455 13.8048L7.80467 15.0639L15 7.86864L7.80467 0.67334L6.5455 1.93252L11.5822 6.96923H0.609375L0.609375 8.76805Z" fill="white"/>
              </svg>
          </button>
        </div>
      </div>
    </div>
  </section>