---
import BathroomSection from "./BathroomSection.astro";
interface Props {
    bathroomData:{
    id: number;
    heading: string;
    title: string;
    description: string;
    image: ImageMetadata;
}[],
productFeatureTitle:string
}
const bathroomData = Astro.props.bathroomData;
const productFeatureTitle = Astro.props.productFeatureTitle;
---

<section class="lg:py-[200px] py-12 max-lg:px-4 px-10 xl:container">
    <div class="flex justify-center">
      <h2 set:html={productFeatureTitle} class="lg:text-[52px] font-sans-instrument mb-8 leading-[44px] lg:mx-10 text-[32px] lg:leading-[72.8px] font-medium text-center opacity-60">
      </h2>
    </div>
    <h2 class="font-medium text-[32px] lg:text-[52px] leading-[44px] lg:leading-[72.8px] text-center lg:pb-[200px]"><span class="text-[#CC0000]">EyeEagle</span> is built to protect your loved ones</h2>
    <div class="pt-12 grid lg:grid-cols-4 gap-12">
      {bathroomData?.map((item)=>
        <BathroomSection item={item} mobile={false}/>
      )}
    </div>
</section>