---
import doctorImage1 from "../../assets/Navbar/doctorImage1.png";
import doctorImage2 from "../../assets/Navbar/doctorImage2.png";
import doctorImage3 from "../../assets/Navbar/doctorImage3.png";
import doctorImage4 from "../../assets/Navbar/doctorImage4.png";
import { Image } from "astro:assets";
---

<section class="xl:container lg:my-24 my-16 lg:px-[80px] px-4">
    <div class="w-full grid lg:grid-cols-3 grid-cols-1 lg:gap-4 gap-8 containers">
      <Image src={doctorImage1} alt={"doctorImage1"}/>
      <Image src={doctorImage2} alt={"doctorImage2"}/>
      <Image src={doctorImage3} alt={"doctorImage3"}/>
      <Image src={doctorImage4} alt={"doctorImage4"}/>
    </div>
  </section>