---
import { Image } from "astro:assets";
const struggleData = Astro.props.struggleData;
---

<section class="xl:container lg:my-24 my-16 lg:px-10 px-4">
    <div class="w-full grid grid-cols-3 max-lg:grid-cols-1 justify-center items-center gap-20 containers">
      {struggleData?.map((item:any)=>{
        return(
          <div class="grid justify-center items-center">
            <Image src={item.img} alt={"doctorImage1"}/>
            <p set:html={item.content} class="text-center p-2 font-medium leading-7 text-xl max-w-[410px]"></p>
          </div>
        )
      })}
    </div>
  </section>