<section class="bg-[#F6F4F2] lg:px-[80px] lg:py-[120px] px-4 lg:h-[500px] grid lg:gap-0 gap-11 py-10">
    <h1 class="lg:text-[52px] font-sans-instrument text-3xl lg:max-w-[693px] text-center m-auto">
        Terms & Conditions
    </h1>
    <p class="text-center font-sans-instrument m-auto mt-[-15px]">
        Learn about the terms and conditions of our products and services.
    </p>
  </section>