<section class="bg-[#F6F4F2] px-[80px] py-[120px] h-[500px] grid gap-0">
    <h1 class="text-[52px] lg:max-w-[693px] text-center m-auto">
        Terms & Conditions
    </h1>
    <p class="text-center m-auto mt-[-15px]">
        Learn about the terms and conditions of our products and services.
    </p>
  </section>