---
type ProcessItem = {
  title: string;
  description: string;
};

type Process = {
  title: string;
  description: string;
  items: ProcessItem[];
};

const processData = Astro.props.processData as Process;
---

<section class="xl:container py-12 lg:py-20">
  <div
    class="flex flex-col-reverse lg:flex-row gap-12 lg:gap-[120px] justify-center mx-4 lg:mx-[120px]"
  >
    <div
      class="max-w-[540px] flex flex-col gap-12 lg:gap-[260px] pt-0 lg:pt-10"
    >
      <div>
        <h2
          class="text-2xl lg:text-[40px] leading-snug lg:leading-[48px] font-bold"
        >
          {processData.title}
        </h2>
        <p class="text-base mt-4">{processData.description}</p>
      </div>

      {
        processData.items.map((item) => (
          <div>
            <h4 class="font-semibold text-xl lg:text-[28px] leading-7 lg:leading-8">
              {item.title}
            </h4>
            <p class="text-base mt-3 lg:mt-4">{item.description}</p>
          </div>
        ))
      }
    </div>
    <!-- RIGHT IMAGE -->
    <div class="w-full lg:w-[540px]">
      <div class="lg:sticky lg:top-[120px]">
        <div class="bg-black rounded-2xl h-[320px] lg:h-[730px] w-full"></div>
      </div>
    </div>
  </div>
</section>
