---
const testimonialData = Astro.props.testimonialData;
---

<section class="py-20 md:py-[120px]">
  <div class="xl:container px-4 text-center">
    <div class="max-w-[800px] mx-auto">
      <h2 class="text-3xl md:text-5xl font-bold text-neutral-800">
        {testimonialData.title}
      </h2>
      <p class="mt-10 text-base md:text-xl text-neutral-600 font-medium">
        {testimonialData.subtitle}
      </p>
    </div>
    <div class="relative max-w-[880px] mx-auto mt-[60px]">
      <span
        class="absolute -left-6 top-0 text-[#CC0000] text-6xl md:text-7xl leading-none"
      >
        “
      </span>
      <span
        class="absolute -right-6 bottom-0 text-[#CC0000] text-6xl md:text-7xl leading-none"
      >
        ”
      </span>
      <p class="text-xl md:text-[32px] leading-10 text-neutral-800 font-medium">
        {testimonialData.quote}
      </p>
      <p class="mt-5 text-neutral-800 text-lg font-medium italic">
        {testimonialData.author}
      </p>
    </div>
  </div>
</section>
