---
import Image from "astro/components/Image.astro";
import Icon from "./Icon.astro";

  const { iconName, img,imgClassNames,classNames = '' } = Astro.props ;

---
<script>

  export interface IconProps {
    iconName: string;
    img?: string;
    imgClassNames?:string;
    classNames?:string;
    content?:string
}
  
</script>

<div class="bg-[#4DDA4333]">

  <div class={`xl:container w-full flex gap-6 items-center  ${classNames}`}>
    <div>
      {img && <Image src={img} alt="" class={imgClassNames}/>}
      {iconName && <Icon iconName={iconName}/>}
    </div>
    <div class={"flex flex-col gap-3"}>
      <h3 class="text-[16px] lg:text-[20px] font-semibold">Thank you for your order, Jane</h3>
      <p class="text-[14px] lg:text-[18px]">We hope we are able to provide the right protection for your loved ones. In the next step, please tell us where the shipping needs ot be done</p>
    </div>
  </div>
  </div>
