---
import { Image } from "astro:assets";
import Check from "../../assets/NewApp/check.png";
---

<section class="xl:container px-4 py-[120px]">
  <div
    class="flex flex-col lg:flex-row justify-center items-center gap-14 lg:gap-24"
  >
    <!-- Left Content -->
    <div class="max-w-md">
      <p class="text-[#CC0000] text-xl font-medium mb-6">
        Less than an emergency flight ticket
      </p>

      <h2 class="text-4xl md:text-6xl font-bold leading-none tracking-[0.01em]">
        EyEagle Membership
      </h2>

      <button
        class="mt-[60px] bg-[#CC0000] text-white px-6 py-3 rounded-full text-lg font-medium hover:bg-red-700 transition"
      >
        Explore Plans
      </button>
    </div>

    <!-- Right Card -->
    <div
      class="bg-[#F4F2EE] shadow-md border border-[#EDEDED] rounded-2xl p-8 max-w-[606px] w-full"
    >
      <!-- Badge Row -->
      <div
        class="flex bg-white/90 tracking-widest backdrop-blur-sm shadow-md border border-gray-200 rounded-full py-2 px-3 w-fit"
      >
        <span
          class="flex items-center justify-center w-[115px] h-[38px] py-3 px-4 text-sm font-semibold text-gray-700 rounded-full"
        >
          FREE TIER
        </span>

        <span
          class="flex items-center justify-center w-[139px] h-[38px] py-3 px-4 text-sm font-semibold text-white bg-[#CC0000] rounded-full shadow-sm"
        >
          FAMILY PLUS
        </span>
      </div>

      <h3 class="text-2xl font-bold leading-[1.4] tracking-normal mt-10 mb-3">
        For families who never want an SOS to go unseen.
      </h3>

      <p class="text-[#000000] text-lg mb-10 mt-4">
        Unlock the full EyEagle experience for your Nest. More members, stronger
        alerts, and better visibility when something happens.
      </p>

      <ul class="space-y-4 text-green-700 text-sm md:text-base">
        <li class="flex gap-2">
          <Image src={Check} alt="check" class="w-5 h-5 mt-1" />
          Up to 3 Nests (e.g. parents, your own home, siblings)
        </li>
        <li class="flex gap-2">
          <Image src={Check} alt="check" class="w-5 h-5 mt-1" />
          Unlimited members in each Nest
        </li>
        <li class="flex gap-2">
          <Image src={Check} alt="check" class="w-5 h-5 mt-1" />
          Priority SOS alerts so someone always sees it
        </li>
        <li class="flex gap-2">
          <Image src={Check} alt="check" class="w-5 h-5 mt-1" />
          Early access to new safety features & app improvements
        </li>
      </ul>
    </div>
  </div>
</section>
