---
import EyeagleLogo from '../assets/Navbar/EyeagleLogo.png';
import Account from "../assets/Navbar/Account.png";
import EyeagleSecondLogo from "../assets/Navbar/EyeagleSecondLogo.png";
import EyeagleLogoBlack from "../assets/Navbar/EyeagleLogoBlack.png";
import EyeagleLogoMobile from "../assets/Navbar/EyeagleLogoMobile.png";
import EyeagleLogoMobileBlack from "../assets/Navbar/EyeagleLogoMobileBlack.png";
const footerClass = Astro.props.footerClass ?? '';

// Import global tailwind styles
import "../styles/global.css";
const { title = "EYEAGLE" } = Astro.props;
const { pathname } = Astro. url
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" >
    <link rel="stylesheet" href="/styles/global.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  </head>
  <body class="text-gray-900">
    <header id="myNav" class=`fixed max-lg:hidden w-full top-0 z-50 px-20 py-5 ${pathname !== "/" && "bg-[#F6F4F2]"}`>
      <nav 
        class="mx-auto flex justify-between items-center"
      >
        <div class="flex justify-between items-center">
          <a href="/">
            <img src={pathname === "/" ? EyeagleLogo.src:EyeagleSecondLogo.src} alt={'Eyeagle Logo'} id="imageBg" class="w-[163px]"/>
          </a>
          <ul class=`flex space-x-12 font-semibold ml-14 px-4 ${pathname === "/" && "text-white"}` id="content">
            <li><a href="/manifesto" class="hover:underline">Our manifesto</a></li>
            <li><a href="/about-us" class="hover:underline">About us</a></li>
            <li><a href="/contact" class="hover:underline">Contact us</a></li>
          </ul>
      </div>
        
        <div class="flex gap-5">
          <img src={Account.src} alt={'Account logo'}/>
          <button class="bg-[#CC0000] text-white px-4 py-3 rounded-3xl font-semibold">Order now</button>
      </div>
      </nav>
    </header>
    <header id="mobileNav" class="lg:hidden sticky top-0 shadow z-30 bg-white w-full">
      <nav class="flex justify-between items-center px-5 py-7">
        <div>
          <a href="/">
            <img src={EyeagleLogoMobileBlack.src} alt=""/>
          </a>
        </div>
        <div id="hamburger">
          <svg width="30" height="30" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="48" height="48" rx="24" fill="#F6F4F2"/>
            <path d="M17.3335 18.167H30.6668" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M17.3335 24H30.6668" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M17.3335 29.833H30.6668" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>            
        </div>
      </nav>
    </header>
    <section id="mobileNavContent" style={{display:"none"}} class="lg:hidden fixed z-30 bg-white h-auto w-full text-center text-lg font-normal py-5 shadow">
      <ul class="grid justify-center items-center gap-8 font-sans-instrument">
        <li><a href="/manifesto">Our Manifesto</a></li>
        <li><a href="/about-us">About us</a></li>
        <li><a href="/contact">Contact</a></li>
        <button class="bg-[#CC0000] text-white px-4 py-3 rounded-3xl font-semibold">Order now</button>
      </ul>
    </section>
    <main>
      <slot />
    </main>

    <footer class={`py-8 ${footerClass}`}>
      <div class="flex max-lg:grid max-lg:gap-8 lg:justify-between justify-center max-lg:w-full items-center lg:mx-auto px-4 lg:px-32">
        <div class="w-full">
          <h2 class="font-sans-instrument max-lg:text-center lg:text-3xl text-4xl font-medium lg:max-w-[451px] leading-10">Expert advice, updates, and surprises for your inbox</h2>
          <div class="mt-10 border-2 px-2 py-3 max-lg:pr-28 input-wrapper rounded-xl">
            <input type="text" placeholder="Search...">
            <button class="bg-red-600 py-2 px-4 text-white rounded-xl" onclick="alert('Button clicked!');">
                Submit
            </button>
        </div>
        </div>
        <div class="font-inter grid lg:grid-cols-3 max-lg:text-lg max-lg:gap-8 max-lg:text-center grid-cols-1 lg:max-w-lg">
          <div>
            <a href="/manifesto" class="block hover:cursor-pointer hover:underline lg:mb-4 mb-8">Our manifesto</a>
            <a href="/about-us" class="block hover:cursor-pointer hover:underline">About us</a>
          </div>
          <div class="grid gap-8 lg:gap-2">
            <a class="block hover:cursor-pointer hover:underline">Facebook</a>
            <a class="block hover:cursor-pointer hover:underline">Linkedin</a>
            <a class="block hover:cursor-pointer hover:underline">Youtube</a>
          </div>
          <div class="grid gap-8 lg-gap-2">
            <a class="block hover:cursor-pointer hover:underline">Email us:
              email@emailaddress.com</a>
            <a class="block hover:cursor-pointer hover:underline">+91 765 4444 222</a>
            <a class="block hover:cursor-pointer hover:underline">3297 NJ-66,Neptune City,NJ 07753, United States</a>
          </div>
        </div>
      </div>
      <div class="my-20 border-2 lg:mx-[120px] mx-4"/>
      <div class="font-inter lg:mx-[120px] mx-4 mb-10 grid max-lg:gap-8 max-lg:text-center lg:flex justify-center lg:justify-between items-center">
        <h2 class="text-[32px] lg:font-medium">EYEAGLE</h2>
        <div class="lg:flex grid lg:gap-20 gap-8 justify-center items-center">
          <a href="/tnc" class="block">Privacy Policy</a><a href="/tnc" class="block">Terms of Service</a><a href="/tnc" class="block">© 2024 EyEagle,inc.</a>
        </div>
      </div>
    </footer>
  </body>
</html>
<style is:global>
  .input-wrapper {
      position: relative;
      display: inline-block;
  }

  .input-wrapper input {
      padding-right: 100px;
  }

  .input-wrapper button {
      position: absolute;
      bottom: 0;
      top: 0;
      right: 0;
      border: none;
      cursor: pointer;
  }
</style>


<style is:global>

  body::-webkit-scrollbar {
    border-radius: 15px;
    width: 10px;
  }

  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #b3c0c6;
    border-radius: 15px;
  }
  ::-webkit-scrollbar-thumb {
    background: #012E40;
    border-radius: 10px;
  }
  @media screen and (max-width: 768px) {
    body::-webkit-scrollbar {
      display: none;
    }
  }

  @media screen and (min-width: 1024px) {
      .gridTemplateColumns {
        grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
      }
    }
    @media screen and (max-width: 1023px) {
      .gridTemplateColumns {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
    .containers {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    }
    .containers::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
    }
</style>

<script is:inline define:vars={{EyeagleLogoBlack,EyeagleLogo}}>
  let nav = document.getElementById("myNav");
  let hamburger = document.getElementById("hamburger");
  let mobileNavContent = document.getElementById("mobileNavContent");
  let imageBg = document.getElementById("imageBg");
  let content = document.getElementById("content");

  hamburger.addEventListener("click",function(){
    let display = mobileNavContent.style.display
    mobileNavContent.style.display = `${display ? "" : "none"}`;
  })

  window.addEventListener("scroll", (event) => {
  if(location.pathname !== "/") return;
    let scroll = this.scrollY;
    // console.log("scroll",scroll,"wndow",window.innerWidth)
    if(scroll >= 855){
      nav.style.backgroundColor = "white"
      // imageBg.style.backgroundColor = "#475569"
      imageBg.src = EyeagleLogoBlack.src;
      content.style.color = "black";
    }else{
      nav.style.backgroundColor = "transparent";
      imageBg.src = EyeagleLogo.src;
      content.style.color = "white"
    }
});
</script> 

