---

import { Image } from "astro:assets";
import EyeagleLogo from '../assets/Navbar/EyeagleLogo.png';
import Account from "../assets/Navbar/Account.png";
import EyeagleSecondLogo from "../assets/Navbar/EyeagleSecondLogo.png";
import EyeagleLogoBlack from "../assets/Navbar/EyeagleLogoBlack.png";
// Import global tailwind styles
import "../styles/global.css";
const { title = "EYEAGLE" } = Astro.props;
const { pathname } = Astro. url
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body class="text-gray-900">
    <header id="myNav" class=`fixed w-full top-0 z-50 px-20 py-5 ${pathname !== "/" && "bg-[#F6F4F2]"}`>
      <nav 
        class="mx-auto flex justify-between items-center"
      >
        <div class="flex justify-between items-center">
          <a href="/">
            <img src={pathname === "/" ? EyeagleLogo.src:EyeagleSecondLogo.src} alt={'Eyeagle Logo'} id="imageBg" class="w-[163px]"/>
          </a>
          <ul class=`flex space-x-12 font-semibold ml-14 px-4 ${pathname === "/" && "text-white"}` id="content">
            <li><a href="/manifesto" class="hover:underline">Our manifesto</a></li>
            <li><a href="/about-us" class="hover:underline">About us</a></li>
            <li><a href="/contact" class="hover:underline">Contact us</a></li>
          </ul>
      </div>
        
        <div class="flex gap-5">
          <img src={Account.src} alt={'Account logo'}/>
          <button class="bg-[#CC0000] text-white px-4 py-3 rounded-3xl font-semibold">Order now</button>
      </div>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer class="py-8">
      <div class="flex justify-between items-center mx-auto px-32">
        <div>
          <h2 class="text-3xl font-medium max-w-[451px] leading-10">Expert advice, updates, and surprises for your inbox</h2>
          <div class="mt-10 border-2 px-2 py-3 input-wrapper rounded-xl">
            <input type="text" placeholder="Search...">
            <button class="bg-red-600 py-2 px-4 text-white rounded-xl" onclick="alert('Button clicked!');">
                Submit
            </button>
        </div>
        </div>
        <div class="grid grid-cols-3 max-w-lg">
          <div>
            <a href="/manifesto" class="block hover:cursor-pointer hover:underline mb-4">Our manifesto</a>
            <a href="/about-us" class="block hover:cursor-pointer hover:underline">About us</a>
          </div>
          <div class="grid gap-2">
            <a class="block hover:cursor-pointer hover:underline">Facebook</a>
            <a class="block hover:cursor-pointer hover:underline">Linkedin</a>
            <a class="block hover:cursor-pointer hover:underline">Youtube</a>
          </div>
          <div class="grid gap-2">
            <a class="block hover:cursor-pointer hover:underline">Email us:
              email@emailaddress.com</a>
            <a class="block hover:cursor-pointer hover:underline">+91 765 4444 222</a>
            <a class="block hover:cursor-pointer hover:underline">3297 NJ-66,Neptune City,NJ 07753, United States</a>
          </div>
        </div>
      </div>
      <div class="my-20 border-2 mx-[120px]"/>
      <div class="mx-[120px] mb-10 flex justify-between items-center">
        <h2 class="text-[32px] font-medium">EYEAGLE</h2>
        <div class="flex gap-20">
          <a href="" class="block">Privacy Policy</a><a href="/tnc" class="block">Terms of Service</a><a href="" class="block">© 2024 EyEagle,inc.</a>
        </div>
      </div>
    </footer>
  </body>
</html>
<style>
  .input-wrapper {
      position: relative;
      display: inline-block;
  }

  .input-wrapper input {
      padding-right: 100px;
      
  }

  .input-wrapper button {
      position: absolute;
      bottom: 0;
      top: 0;
      right: 0;
      border: none;
      cursor: pointer;
  }
</style>


<style is:global>

  body::-webkit-scrollbar {
    border-radius: 15px;
    width: 10px;
  }

  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #b3c0c6;
    border-radius: 15px;
  }
  ::-webkit-scrollbar-thumb {
    background: #012E40;
    border-radius: 10px;
  }
  @media screen and (max-width: 768px) {
    body::-webkit-scrollbar {
      display: none;
    }
  }

  @media screen and (min-width: 1024px) {
      .gridTemplateColumns {
        grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
      }
    }
    @media screen and (max-width: 1023px) {
      .gridTemplateColumns {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
    .containers {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    }
    .containers::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
    }
</style>

<script is:inline define:vars={{EyeagleLogoBlack,EyeagleLogo}}>
  let nav = document.getElementById("myNav");
  let imageBg = document.getElementById("imageBg");
  let content = document.getElementById("content");
  window.addEventListener("scroll", (event) => {
  if(location.pathname !== "/") return;
    let scroll = this.scrollY;
    if(scroll >= 855){
      nav.style.backgroundColor = "white"
      // imageBg.style.backgroundColor = "#475569"
      imageBg.src = EyeagleLogoBlack.src;
      content.style.color = "black";
    }else{
      nav.style.backgroundColor = "transparent";
      imageBg.src = EyeagleLogo.src;
      content.style.color = "white"
    }
});
</script>

