<section class="relative h-[653px]">
    <img src="/src/assets/Manifesto/manifesto_banner_1.png" class="h-full w-full object-cover" />
    <div class="absolute inset-0 flex items-center left-10">
      <h2 class="text-left text-white max-w-[627px] text-[52px] p-4 right-0">
        For our aging parents, these seemingly small mishaps can have life-changing consequences
      </h2>
    </div>
  </section>
  