---
const explanations=[
    {id:1,title:"Prevention",description:"Our first line of defense is prevention. We install non-slip mats, grab bars, and handrails to minimize the risk of slips and falls, creating a safer environment for your loved ones.",imgSrc:"manifesto_explanation1.png"},
    {id:2,title:"Interaction",description:"EyEagle’s system seamlessly integrates with the way you and your caregivers interact with your environment. With customizable settings and an easy-to-use app, we ensure that our safety solution works in harmony with your lifestyle.",imgSrc:"manifesto_explanation2.png"},
    {id:3,title:"Detection",description:"Our system constantly monitors for any signs of trouble. If a fall or emergency occurs, EyEagle’s detection system is immediately activated, ensuring no delay in response.",imgSrc:"manifesto_explanation3.png"},
    {id:4,title:"Alarm",description:"The moment an incident is detected, the EyEagle alarm system springs into action. Our patented alarm system is designed for maximum reliability, ensuring that help is alerted right away.",imgSrc:"manifesto_explanation4.png"},
    {id:5,title:"Notification",description:"Once the alarm is triggered, notifications are instantly sent to caregivers and emergency contacts through the EyEagle app, so you’re never in the dark about your loved one’s safety.",imgSrc:"manifesto_explanation5.png"},
    {id:6,title:"Action",description:"Whether it’s dispatching emergency services or guiding family members through the next steps, EyEagle ensures rapid and decisive action. Our system coordinates the response to make sure help arrives as quickly as possible.",imgSrc:"manifesto_explanation6.png"},
]
---

<section class="bg-[#F6F4F2]">
    <div class="flex items-center justify-between px-[80px]">
      <h1 class="max-w-[611px] text-[52px]">
        Our Comprehensive <span class="text-[#CC0000]">PIDANA</span> Protocol: Leaving No Stone Unturned
      </h1>
      <p class="max-w-[581px] text-[18px]">
        At EyEagle, we believe in absolute safety. That’s why we’ve developed the PIDANA Protocol—a meticulous safety framework designed to ensure your bathroom is as safe as possible for your loved ones.
      </p>
    </div>
    <div class="p-[80px] flex flex-col gap-10">
      {explanations.map((explanation, index) => (
        <div class="flex items-center justify-between">
          <div class="flex flex-col items-start">
            <div class="mb-5 h-[36px] w-[36px] rounded-full bg-[#CC0000] flex items-center justify-center text-white">
              <p>{explanation.title[0]}</p>
            </div>
            <div class="flex gap-5">
              <div
                class={`h-[200px] w-[4px] bg-[#CC0000] ${explanation.id === 1 ? "block" : "hidden"}`}
              ></div>
              <div>
                <h3 class="font-medium text-[32px]">{explanation.title}</h3>
                <p class="text-[18px] max-w-[481px]">{explanation.description}</p>
              </div>
            </div>
          </div>
          <div class="h-[360px] w-[619px] rounded-lg">
            <img src={`/src/assets/${explanation.imgSrc}`} class="w-full h-full" />
          </div>
        </div>
      ))}
    </div>
  </section>
  