---
import { explanations } from "../constants/manifesto";
---

<section class="bg-[#F6F4F2] pb-20">
    <div class="flex items-center justify-between px-[80px]">
      <h1 class="max-w-[611px] text-[52px]">
        Our Comprehensive <span class="text-[#CC0000]">PIDANA</span> Protocol: Leaving No Stone Unturned
      </h1>
      <p class="max-w-[581px] text-[18px]">
        At EyEagle, we believe in absolute safety. That’s why we’ve developed the PIDANA Protocol—a meticulous safety framework designed to ensure your bathroom is as safe as possible for your loved ones.
      </p>
    </div>
    <div class="p-[80px] flex flex-col gap-10">
      {explanations.map((explanation, index) => (
        <div class="flex items-center justify-between">
          <div class="flex flex-col items-start">
            <div class="mb-5 h-[36px] w-[36px] rounded-full bg-[#CC0000] flex items-center justify-center text-white">
              <p>{explanation.title[0]}</p>
            </div>
            <div class="flex gap-5">
              <div
                class={`h-[200px] w-[4px] bg-[#CC0000] ${explanation.id === 1 ? "block" : "hidden"}`}
              ></div>
              <div>
                <h3 class="font-medium text-[32px]">{explanation.title}</h3>
                <p class="text-[18px] max-w-[481px]">{explanation.description}</p>
              </div>
            </div>
          </div>
          <div class="h-[360px] w-[619px] rounded-lg">
            <img src={`/src/assets/Manifesto/${explanation.imgSrc}`} class="w-full h-full" />
          </div>
        </div>
      ))}
    </div>
  </section>
  