---
import { contexts, contextSection } from "../constants/manifesto";
---
<section class="py-10 font-sans-instrument sm:py-[120px] px-6 sm:px-[80px] xl:container">
  <h1 class="text-[32px] sm:text-[52px] font-normal text-center sm:text-left" set:html={contextSection.title}>
   
  </h1>
  <p class="mt-6 sm:mt-10 mb-6 sm:mb-10 text-[16px] sm:text-[18px] text-center sm:text-left">
    {contextSection.desc}
  </p>
  <div class="flex flex-col sm:flex-row justify-between items-center gap-10">
    <div class="flex flex-col gap-6 sm:gap-10">
      {contexts.map((context) => (
        <div >
          <h4 class="text-[20px] sm:text-[24px] text-center lg:text-left font-semibold mb-2 sm:mb-3">{context.title}</h4>
          <p class="text-[16px] sm:text-[18px] max-w-[100%] sm:max-w-[600px]">{context.description}</p>
        </div>
      ))}
    </div>
    <div class="h-[200px] sm:h-[487px] w-full sm:w-[600px] rounded-lg bg-[#D9D9D9]"></div>
  </div>
</section>
