<section class="h-[657px] border-2">
    <div class="mt-28 flex flex-col items-center justify-center">
      <button class="py-2 px-3 rounded-full font-medium bg-[#CC0000] text-white">
        Our Manifesto
      </button>
      <h1 class="max-w-[1090px] mt-6 text-[88px] leading-[92px] text-center">
        Because <span class="text-[#CC0000]">Prevention</span> is<br />
        Better Than <span class="text-[#CC0000]">Reaction</span>
      </h1>
      <p class="text-center text-black text-lg mt-[88px] max-w-[720px]">
        Every year, millions of elderly people experience falls in their homes, with the bathroom being the highest-risk area. These falls aren’t just accidents—they’re preventable events that can drastically impact quality of life.
      </p>
    </div>
  </section>
  