---
import { WaitlistFormData } from "../constants/waitlist";
---

<div>
    <div
      class="flex flex-col justify-center items-center gap-3 "
    >
      <form method="POST" class="flex flex-col gap-3">
        <label> Name* </label>
        <input
          type="text"
          name="userName"
          placeholder="Enter name"
          required
          class={`md:w-[628px] p-4 border-2 border-[#9C9C9C] rounded-xl placeholder:text-[#666666] placeholder:text-[16px]  `}
        />
        <label> Phone number* </label>
        <div class={`relative md:w-[628px] `}>
          <select
            name="countryCode"
            class="absolute inset-y-0 left-0 bg-transparent pl-2 pr-2 text-[#666666] text-[16px] border-2 border-[#9C9C9C] border-r-0 rounded-l-xl focus:outline-none h-full !bg-[#F6F6F6]"
            required
          >
            <option value="+91">+91</option>
            <option value="+1">+1</option>
            <option value="+44">+44</option>
          </select>

          <input
            type="number"
            name="phoneNumber"
            placeholder="Phone Number"
            maxlength="10"
            required
            class={`md:w-[628px] pl-[75px] p-4 border-2 border-[#9C9C9C] rounded-xl placeholder:text-[#666666] placeholder:text-[16px] `}
          />
        </div>

        <label> Email* </label>
        <input
          type="email"
          name="userEmail"
          placeholder="Enter Email"
          required
          class="md:w-[628px] p-4 border-2 border-[#9C9C9C] rounded-xl placeholder:text-[#666666] placeholder:text-[16px]"
        />

        <label> City* </label>
        <input
          type="text"
          name="userCity"
          placeholder="City Name"
          required
          class="md:w-[628px] p-4 border-2 border-[#9C9C9C] rounded-xl placeholder:text-[#666666] placeholder:text-[16px]"
        />
        <div class="flex justify-start items-center gap-2">

        <input type="checkbox" name="userAcceptCheck" class="h-[18px] w-[18px]  border border-gray-400" required/><span class="text-[#666666]">{WaitlistFormData.acceptation}</span>
        </div>

        <button
          class="md:w-[628px] p-4 rounded-[30px] text-white bg-[#CC0000] font-medium mt-[8px]"
          >{WaitlistFormData.buttonTitile}</button
        >
      </form>
    </div>
  </div>