---
import Icon from "../common/Icon.astro";
import { WaitlistBannerData } from "../constants/waitlist";
---

<div>
    <div  class="flex justify-center lg:justify-evenly flex-col  lg:flex-row items-center pb-10">
        {
          WaitlistBannerData.pointers.map((pointer) => (
            <div class="flex items-center justify-start gap-2">
              <Icon iconName="check_circle" classNames="text-[#000000]" />
              <p class="text-[18px] font-medium text-[#000000] ">{pointer}</p>
            </div>
          ))
        }
      </div>
    </div>
    </div>