---
import Icon from "../common/Icon.astro";
import { WaitlistBannerData } from "../constants/waitlist";
---

<div>
  <div class="flex flex-col lg:flex-row items-center lg:justify-evenly pb-10 gap-4">
    {WaitlistBannerData.pointers.map((pointer) => (
      <div class="flex items-center gap-2 w-full lg:w-auto min-w-[200px] text-left">
        <Icon iconName="check_circle" classNames="text-[#000000] flex-shrink-0" />
        <p class="text-[18px] font-medium text-[#000000]">{pointer}</p>
      </div>
    ))}
  </div>
  
    </div>
    </div>